<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar :</strong>
  <%= @book.avatar_ %>
</p>

<p>
  <strong>M fund :</strong>
  <%= @book.m_fund_ %>
</p>

<p>
  <strong>Fund name :</strong>
  <%= @book.fund_name_ %>
</p>

<p>
  <strong>Shares :</strong>
  <%= @book.shares_ %>
</p>

<p>
  <strong>Mi :</strong>
  <%= @book.mi_ %>
</p>

<p>
  <strong>Mf :</strong>
  <%= @book.mf_ %>
</p>

<p>
  <strong>Gsi :</strong>
  <%= @book.gsi_ %>
</p>

<p>
  <strong>Year :</strong>
  <%= @book.year_ %>
</p>

<p>
  <strong>Month 1 :</strong>
  <%= @book.month_1_ %>
</p>

<p>
  <strong>Year 1 :</strong>
  <%= @book.year_1_ %>
</p>

<p>
  <strong>Years 3 :</strong>
  <%= @book.years_3_ %>
</p>

<p>
  <strong>Years 5 :</strong>
  <%= @book.years_5_ %>
</p>

<p>
  <strong>Si :</strong>
  <%= @book.si_ %>
</p>

<p>
  <strong>Mf 2 :</strong>
  <%= @book.mf_2_ %>
</p>

<p>
  <strong>Ap :</strong>
  <%= @book.ap_ %>
</p>

<p>
  <strong>Tcr :</strong>
  <%= @book.tcr_ %>
</p>

<p>
  <strong>Da te :</strong>
  <%= @book.da_te_ %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
